@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

main {
  width: 100%;
  max-width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
}

.img-cover {
  width: 100%;
  max-width: 285px;
  background-image: url(images/drawers.jpg);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}

article {
  padding: 40px;
}

article h1 {
  font-size: 21px;
  color: #48556a;
}

article > p {
  font-size: 13px;
  color: #6d7f97;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-text > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-text p {
  font-weight: bolder;
  color: #48556a;
}

.profile-text span {
  color: #6d7f97;
}

.toggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ecf2f8;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.toggle:hover .tooltip {
  opacity: 1;
}

.tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #48556a;
  padding: 15px 30px;
  border-radius: 10px;
  top: -75px;
  right: -110px;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #48556a transparent transparent transparent;
  top: 55px;
  left: 120px;
}

.tooltip a {
  margin-left: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.tooltip a:hover {
  opacity: 0.7;
}

.tooltip span {
  color: #9eafc2;
  letter-spacing: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 700px) {
  body {
    display: block;
    padding-top: 10px;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img-cover {
    max-width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
  article h1 {
    font-size: 18px;
  }
  .tooltip {
    min-width: 300px;
    width: 100%;
    top: 70px;
    right: -19%;
    opacity: 1;
  }
  .tooltip::before {
    border-color: transparent;
  }
}

footer {
  position: fixed;
  bottom: 0;
  padding: 2rem;
}
/*# sourceMappingURL=style.css.map */